RewriteEngine On
RewriteBase /institute_admin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [L]

ErrorDocument 404 /institute_admin/404.php
<FilesMatch "\.php$">
    Require all granted
    php_flag display_errors On
    php_value error_reporting 32767
</FilesMatch>
