.display-6{
    text-align: center;
}
.h3text{
    text-align: center;
    font-weight: 100;
    margin-top: 10px;
}
#maindiv{
    background-color: rgb(236, 241, 241);
    border-radius: 10px;
    height: 50vh;
}
#maindiv ul{
list-style-type: none;;
font-size: 20px;
}
#maindiv a{
text-decoration: none;
background-color: #00aaff;
margin-top: 100px;
}
#heading{
    background-color: #495270;
    color: white;
    height: 50px;
    font-size: 22px;
    font-family: ui-serif;
    border-radius: 10px;
}