body{
    background-color: rgb(181, 209, 232);
}
.display-6{
    text-align: center;
}
.current{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
.questions{
    font-size: 22px;
}
ol li{
    font-size: 20px;
}
.maindiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 400px;
    background-color: #f4fafd;
    border-left: 8px solid #8353b3;
}


input[type="submit"] {
    width: 50%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#cite cite{
color: #8353b3;
position: absolute;
left: 50%;
top: 90%;
transform: translate(-50% ,-50%);

}
#qcard{
    width: 820px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading{
    margin-top: 20px;
    background-color: #495270;
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 22px;
    font-family: ui-serif;
    border-radius: 10px;


}